<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/userdash">RENT A PLACE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="/home">Home</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link " routerLink="/admindash" *ngIf="service.rolematch('ROLE_ADMIN')">AdminDashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/home" *ngIf="service.rolematch('ROLE_USER')">UserDashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/userchat" *ngIf="service.rolematch('ROLE_USER')">Chat</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " routerLink="/contact">ContactUS</a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                <li *ngIf="service.rolematch('ROLE_USER')">
                    <div class="form-inline my-2 my-lg-0 ">
                        <div class="sameline">
                            <input #myinput class="form-control mr-sm-2" placeholder="Search a Place" aria-label="Search" (keyup.enter)="dosearch(myinput.value)">
                            <button class="btn btn-warning my-2 my-sm-0" (click)="dosearch(myinput.value)">Search</button>
                        </div>
                    </div>
                </li> &nbsp;&nbsp;&nbsp;
                <li class="nav-item dropdown" *ngIf="service.rolematch('ROLE_USER')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/category/sortplaceslow">Low-High</a>
                        <a class="dropdown-item" routerLink="/category/sortplacestop">High-Low</a>
                        <a class="dropdown-item" routerLink="/category/beach">Beachs Nearby</a>
                        <a class="dropdown-item" routerLink="/category/hills">Hills Nearby</a>
                        <a class="dropdown-item" routerLink="/category/temple">Temples Nearby</a>
                        <a class="dropdown-item" routerLink="/category/water">Waterfalls  Nearby</a>
                    </div>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>
            <span style="margin-top: 3px;" class="badge badge-warning"> hello {{User.username}}!</span>&nbsp;
            <button *ngIf="! isLoggedin()" type="button" class="btn btn-secondary" routerLink="/login">Login</button>&nbsp;
            <button *ngIf="isLoggedin()" type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>