<body>
    <div class="container">
        <div class="title">Registration</div>
        <form #formref="ngForm" (ngSubmit)="register()">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">UserName</span>
                    <input type="text" class="form-control" name="username" placeholder="Enter your name" [(ngModel)]="user.username" #username="ngModel" required [class.is-invalid]="username.invalid && username.touched">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" class="form-control" name="email" placeholder="Enter your email" [(ngModel)]="user.email" #email="ngModel" required pattern="[A-Za-z0-9]+@[a-z]+\.[a-z]{2,3}" [class.is-invalid]="email.invalid && email.touched">

                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="text" class="form-control" name="password" placeholder="Enter your password" [(ngModel)]="user.password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched">
                </div>
                <div class="input-box">
                    <span class="details">Phone</span>
                    <input type="text" class="form-control" name="phone" placeholder="Enter your phone" [(ngModel)]="user.phone" #phone="ngModel" required [class.is-invalid]="phone.invalid && phone.touched">
                </div>
                <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text" class="form-control" name="address" placeholder="Enter your address" [(ngModel)]="user.address" #address="ngModel" required [class.is-invalid]="address.invalid && address.touched">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register"> Already a user? <a routerLink="../login">Login</a>
            </div>

        </form>

    </div>
</body>